@import "./src/assets/styles/colors";

.input {
  width: 12.5rem;
  height: 1.25rem;
  font-size: 0.85rem;
  border: 2px solid $border-color;
  padding: 0 0.25rem;
  &::placeholder {
    color: $font-secondary;
  }
}
